@import '../../global.scss';
.skills{
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    
    

    .arrow{
        height: 50px;
        position: absolute;
        cursor: pointer;
        font-size: 70px;

        @include mobile{
            display: none;
        }
        
        &.lef{
            left: 100px;
            color: white;
            transform: rotateY(180deg);
            
        }

        &.righ{
            right: 100px;
            color: white;
        }

        
    }

    

    .slider{
        height: 350px;
        display: flex;
        position: absolute;
        left: 0;
        transition: all 1s ease-out;

        @include mobile{
            height: 100vh;
            flex-direction: column;
            justify-content: center;
        }

        .container{
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
        .item{
            width: 700px;
            height: 100%;
            background-color: white;
            border-radius: 20px;
            display: flex;
            
            justify-content: center;
            align-items: center;
            @include mobile{
                width: 80%;
                height: 150px;
                margin: 10px 0;
               
            }

            .left{
                flex: 3;
                height: 80%;
                display: flex;
                justify-content: center;
                align-items: center;
            

            .leftContainer{
                width: 90%;
                height: 70%;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: space-between;
                @include mobile{
                    width: 100%;
                    height: 100%;
                    
                }
            }

            .imgContainer{
                width: 80px;
                height: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
                &::-webkit-scrollbar{
                    display: none;
                }
            }

            img{
                width: 80px;
                @include mobile{
                    width: 40px;
                    
                }
                &::-webkit-scrollbar{
                    display: none;
                }
            }
                
            }

            h2{
                font-size: 20px;
                text-align: center;
                color: crimson;
                background-color: rgb(240, 224, 224);
                @include mobile{
                    font-size: 15px;
                    
                }

                
            }
            
            span{
                font-size: 12px;
                font-weight: 600;
                text-decoration: underline;
                cursor: pointer;
            }

            .right{
                flex: 8;
                height: 100%;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                
                
                &::-webkit-scrollbar{
                    display: none;
                }
                li{
                    font-size: 18px;
                    list-style-type: circle;
                    padding: 14px;
                    color: rgb(41, 39, 39);
                    @include mobile{
                        font-size: 15px;
                        padding: 4px;
                        padding-top: 8px;
                        
                    }
                }
                
                
            }

        }

    }

    
}